/* ==========================================================================
   1. Tailwind Directives
   ========================================================================== */

   @tailwind base;
   @tailwind components;
   @tailwind utilities;
   
   /* ==========================================================================
      2. Base Styles
      ========================================================================== */
   
   /*
      These are global styles applied to basic HTML elements.
      Consider extending Tailwind's base instead of overriding here
      for better maintainability (see Tailwind's @layer directive).
   */
   
   body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
       sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     height: 85vh;
     background-color: rgb(107, 79, 219);
   }
   
   code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
       monospace;
   }